/* list */
.rectangle-list ol 
{
counter-reset:li; /* Initiate a counter */
margin-left:0; /* Remove the default left margin */
/* padding-left:0; Remove the default left padding */
}

/* item  */
.rectangle-list ol > li
{
position: relative;
list-style:none; /* Disable the normal item numbering */
}

/* item hover */
.rectangle-list p
{
display: block;
padding: .4em .4em .4em .8em;
*padding: .4em;
margin: .5em 0 .5em 2.5em;
background: #ddd;
color: #444;
text-decoration: none;
-webkit-transition: all .3s ease-out;
-moz-transition: all .3s ease-out;
-ms-transition: all .3s ease-out;
-o-transition: all .3s ease-out;
transition: all .3s ease-out;	
}

/* item hover */
.rectangle-list p:hover
{
background: #fa8072;
}	

/* number  */
.rectangle-list p:before
{
content: counter(li);
counter-increment: li;

position: absolute;	
left: -2.5em;
top: 50%;
margin-top: -1em;

background: #fa8072;
height: 2em;
width: 2em;
line-height: 2em;
text-align: center;
font-weight: bold;
}

/* number hover */
.rectangle-list p:after
{
position: absolute;	
left: -1em;
top: 50%;
margin-top: -.5em;

content: '';
border: .5em solid transparent;

-webkit-transition: all .3s ease-out;
-moz-transition: all .3s ease-out;
-ms-transition: all .3s ease-out;
-o-transition: all .3s ease-out;
transition: all .3s ease-out;				
}

.rectangle-list p:hover:after
{
left: -.5em;
border-left-color: #fa8072;				
}


h2 { 
    color: #111;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 32px;
    margin: 20px 0 35px;
    text-align: center;
 }
 
 .rectangle-list{
    margin: 0 auto;
}

.checkbox{
    position: relative;
    left: 0;
}


/* --------------------------- */

.accordion, .accordion * {
    -webkit-box-sizing:border-box; 
    -moz-box-sizing:border-box; 
    box-sizing:border-box;
}
 
.accordion {
    overflow:hidden;
    box-shadow:0px 1px 3px rgba(0,0,0,0.25);
    border-radius:3px;
    background:#f7f7f7;
}
 
/*----- Section Titles -----*/
.accordion-section-title {
    width:100%;
    padding:15px;
    display:inline-block;
    border-bottom:1px solid #1a1a1a;
    background:#333;
    transition:all linear 0.15s;
    /* Type */
    font-size:1.200em;
    text-shadow:0px 1px 0px #1a1a1a;
    color:#fff;
}
 
.accordion-section-title.active, .accordion-section-title:hover {
    background:#4c4c4c;
    /* Type */
    text-decoration:none;
}
 
.accordion-section:last-child .accordion-section-title {
    border-bottom:none;
}
 
/*----- Section Content -----*/
.accordion-section-content {
    padding:15px;
    display:none;
}