<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <!--h1>
    Desafio Front-end
  </h1-->
</div>
<input type="text" #textInput (keyup.enter) = "search(textInput.value)">
<button type="submit"  (click) = "search(textInput.value)">Search</button>

<div *ngIf="searched">
    <div><label>username: </label>{{user.username}}</div>
    <div><label>seguidores: </label>{{user.numbersFollowers}}</div>
    <div><label>seguidos: </label>{{user.numbersFollowing}}</div>
    <div><label>avatar: </label>{{user.avatarUrl}}</div>
    <div><label>email: </label>{{user.email}}</div>
    <div><label>bio: </label>{{user.bio}}</div>
</div>

